<h4>Add a vehicle to your user dashboard</h4>
<div>
    <form (submit)="check()">
        Name:
        <input type="text" [(ngModel)]="machine.name" name="name">
        <br>
        Make:
        <input type="text" [(ngModel)]="machine.make" name="make">
        <br>
        Model:
        <input type="text" [(ngModel)]="machine.model" name="model">
        <br>
        Date Purchased:
        <input type="date" [(ngModel)]="machine.purchased" name="yearpurchased">
        <br>
        Manufactured Date:
        <input type="date" [(ngModel)]="machine.manufactured" name="yearmanufactured">
        <br>
        <input id = "AddMachineButton" type="submit" value="Add Car">
        <button id = "CancelButton"[routerLink]="['']">Cancel</button>

      </form>
</div>
