<p>placeholder for logged user's associated machines</p>
<table>
<!-- <<<<<<< dustin
    <th>machine name</th>
    <th>make</th>
    <th>model</th>
    <th>year purchased</th>
    <tr>
        <td>name p.h</td>
        <td>make p.h.</td>
        <td>model p.h.</td>
        <td>year purch p.h.</td>
    </tr>
    <tr>
        <td>name p.h</td>
        <td>make p.h.</td>
        <td>model p.h.</td>
        <td>year purch p.h.</td>
======= -->
    <tr>
      <th>Machine Name</th>
      <th>Available Actions</th>
    </tr>
    <tr>
    <tr *ngFor = "let machine of machines">
      <td>{{machine.machinename}}</td>
      <td>
        <!-- <button id= "one" [routerLink]= "['', movie._id]">Details</button> -->
        <button id="three" (click)= "deleteMachine(machine._id)">Delete</button>
      </td>

    </tr>
</table>
<p>
    <button [routerLink]="['addmachine']">Add Machine</button>
</p>
