<p>placeholder for logged user's associated machines</p>
<table>
    <th>machine name</th>
    <th>make</th>
    <th>model</th>
    <th>year purchased</th>
    <tr>
        <td>name p.h</td>
        <td>make p.h.</td>
        <td>model p.h.</td>
        <td>year purch p.h.</td>
    </tr>
    <tr>
        <td>name p.h</td>
        <td>make p.h.</td>
        <td>model p.h.</td>
        <td>year purch p.h.</td>
    </tr>
</table>
<p>
    <button [routerLink]="['addmachine']">Add Machine</button>
</p>
